01-data-lake/images/jsonl.png filter=lfs diff=lfs merge=lfs -text
01-data-lake/images/minio-buckets.png filter=lfs diff=lfs merge=lfs -text
01-data-lake/images/minio-data.png filter=lfs diff=lfs merge=lfs -text
01-data-lake/images/minio-login.png filter=lfs diff=lfs merge=lfs -text
