01-data-lake/images/jsonl.png filter=lfs diff=lfs merge=lfs -text
01-data-lake/images/minio-buckets.png filter=lfs diff=lfs merge=lfs -text
01-data-lake/images/minio-data.png filter=lfs diff=lfs merge=lfs -text
01-data-lake/images/minio-login.png filter=lfs diff=lfs merge=lfs -text
02-data-lakehouse/images/minio-iceberg-table.png filter=lfs diff=lfs merge=lfs -text
02-data-lakehouse/images/nessie-iceberg-table.png filter=lfs diff=lfs merge=lfs -text
02-data-lakehouse/images/nessie.png filter=lfs diff=lfs merge=lfs -text
02-data-lakehouse/images/trino.png filter=lfs diff=lfs merge=lfs -text
